@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

:root {
  --shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

body {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/08800aef-a1c3-4ac3-be7e-032bd085f169/d7pgwmn-d7b8b5ca-c2bb-4440-991c-91f159471152.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzA4ODAwYWVmLWExYzMtNGFjMy1iZTdlLTAzMmJkMDg1ZjE2OVwvZDdwZ3dtbi1kN2I4YjVjYS1jMmJiLTQ0NDAtOTkxYy05MWYxNTk0NzExNTIucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.8FobvtrHalGQXQ2W_ci2R-Rz2FJ5CuxDSDju0p1rCiQ');
  background-size: cover;
  color: white;
}

#Header {
  text-transform: uppercase;
  font-size: x-large;
  background-color: black;
  border-radius: 20px;
  box-shadow: var(--shadow);
}

#Title {
  text-transform: uppercase;
  background-color: black;
  border-radius: 20px;
  box-shadow: var(--shadow);
}

#SolarSystem {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 30px;
}

#SolarSystem img {
  width: 150px;
}

#SolarSystem p {
  background-color: black;
  border-radius: 20px;
  box-shadow: var(--shadow);
}

#PlanetCard {
  padding: 0 10px;
  font-weight: bold;
}

#Missions {
  background-color: rgba(128, 128, 128, 0.541);
  padding: 10px 10px;
  border-radius: 20px;
  box-shadow: var(--shadow);
}

#MissionsList {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.MissionCard {
  background-color:rgb(87, 87, 95);
  width: 500px;
  border: 1px solid white;
  box-shadow: var(--shadow);
}

.MissionCardDesc {
  display: flex;
  justify-content: center;
  border-top: 1px solid white;
}

.MissionCardDesc p {
  padding: 0px 10px;
}